{% load fb_versions  %}


{% if social_network %}
<div class="col-md-4 col-sm-4 col-xs-12">
    <h5 class="footer-extended-menu-title">Присоединяйтесь к нам в социальных сетях :)</h5>
    {% if 'html_link' in type %}
        <ul class="socials-footer">
            {% with objects=social_network %}
                {% for obj in objects %}
                    <li>
                        <a href="{{ obj.url }}" data-toggle="tooltip" target="_blank" data-placement="top" title="{{ obj.image_title }}" class="socials-footer-link">
                            {% if obj.get_main_image %}
                                <img height="35" width="35" src="{% version obj.get_main_image 'thumbnail' %}">
                            {% else %}
                                {{ obj.html_link|safe }}
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    {% endif %}
</div>
{% endif %}

