{% load static %}
{% load fb_versions %}

{% if home %}
    <div class="background-gradient-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="promo-title-wrapper ">
                        <h3 class="promo-title" data-icon="">{{ home.title }}</h3>
                        <div class="promo-description">{{ home.html|safe }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% if home.get_images.exists %}
                    <div class="helper center pb60">
                        {% for i in home.get_images %}
                            <img src="{% version i.image 'large' %}" class="image remove-border">
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="alert lead">
        <h1>Войдите в <a target="_blank" href="/admin">Административую панель [pYAp]!</a><br>
            <small>под своим логином и паролем</small>
        </h1>
        <p>В Админке нужно создать объекты, которые необходимы для проекта.</p>
        <ol>
            <li>Настройки Главной страницы</li>
            <li>Добавление товаров и каталогов</li>
            <li>Создание Галереи</li>
            <li>Ведение Блогов</li>
        </ol>
    </div>
{% endif %}

