{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ home.seo_title }}{% endblock %}
{% block description %}{{ home.seo_description }}{% endblock %}
{% block keywords %}{{ home.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}


{% block main %}

{% include 'advertising/templates/slider_home.html' %}

<!-- Header Back -->


<!-- End of Header Back -->
<div id="content">

    <div class="container">
        {% if home.blog %}
            <div class="promo-title-wrapper helper pt60">
                <h3 class="promo-title" data-icon="">{{ home.blog.title }}</h3>
                {% if home.blog.description %}<p class="promo-description">{{ home.blog.description }}</p>{% endif %}
            </div>
            {% include 'blog/templates/blog_post_list.html' with obj=home.blog objects=posts page='home' %}
        {% endif %}
    </div>
    {% include 'home/templates/content.html' %}

    {% load get_include_area %}
    {% get_include_area request code='advantages' %}
    <div class='container'>
    {% include 'product/templates/item_bestseller_product.html' with objects=bestseller_products title='Горячие проекты для продажи' page='home' %}
    </div>
    {% if setting_template.phone %}
        <div class="call-to-action helper mt60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="call-to-action-title">Нужна помощь?</h3>
                        <p class="call-to-action-description">
                            Звоните: <a href="tel:{{ setting_template.phone }}">{{ setting_template.phone }}</a>.
                        </p>

                        <div class="call-to-action-buttons">
                            <a href="tel:{{ setting_template.phone }}" class="call-to-action-button">{{ setting_template.phone }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class='container'>
    {% include 'product/templates/item_bestseller_product.html' with objects=new_products title='НОВИНКИ' page='home' %}
    </div>

</div>


{% endblock %}

{% block additional_js %}{% endblock %}