{# Бесплатный движок для интернет магазинов и сайтов PYAP #}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <link rel="shortcu/home/mmc/projects/web_dev/verstka/main/index_files/style.min.csst icon" href="{% static "favicon.png" %}">

    {# -- pyap -- #}
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="pyap | pyap.ru">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% if setting_template.meta %}{{ setting_template.meta|safe }}{% endif %}
    
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    {% block additional_css %}{% endblock %}
    {# -- end -- #}
</head>

<body>

    {% if user.is_staff %}
        <a target="_blank" href="/admin" style="position: fixed; color: #D1A054; top:1px; padding: 5px 10px; font-size: 10px; z-index: 30; border: 1px solid #D1A054;">A</a>
    {% endif %}

    {% block content %}{% endblock %}

    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    
    <script src="{% static 'js/rollbar.min.js' %}" async=""></script>
    <script src="{% static 'js/modernizr.js' %}"></script>

{# ---pYAp --- #}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" type="text/css" media="all">
    <script src="{% static 'js/imitationPostCsrftoken.js' %}"></script>
    <script src="{% static 'cart/js/addCartForm.js' %}"></script>
    <script src="{% static 'cart/js/editCartForm.js' %}"></script>
    <script src="{% static 'js/pyap.js' %}"></script>
    {% if setting_template.scripts %}{{ setting_template.scripts|safe }}{% endif %}
    {% block additional_js %}{% endblock %}
{# --- end pYAp --- #}


</body>
</html>