{% extends 'base.html' %}

{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}


{% block content %}
<div class="page">
    {% block header %}{% include 'default/header.html' %}{% endblock %}
    {% block main %}
        {% block breadcrumbs %}{% endblock %}
        {% block leftbar %}{% endblock %}
    {% endblock %}
    {% block footer %}{% include 'default/footer.html' %}{% endblock %}
</div>

<!--     <script src="./index_files/all.js"></script>
        <script src="./index_files/custom.js"></script> -->
{% endblock %}


