<div class="widget">
    <div class="search">
        <form id="searchform" action="{% url 'search:search' %}" method="get" accept-charset="utf-8" role="search">
            <input id="searchbox" name="q" placeholder="Поиск" class="search-input form-control" {% if q %}value="{{ q }}"{% endif %}>
            <button type="submit" class="fa fa-search search-icon"></button>
        </form>
    </div>
</div>