{% extends 'main.html' %}
{% load staticfiles %}
{% load fb_versions %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywors }}{% endblock %}

{% block main %}
    <div class="header-back header-back-simple header-back-small"
         style="{% if object.get_main_image.image %}background-image: url({% version object.get_main_image.image 'max' %}){% endif %}">
        <div class="header-back-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-info page-info-simple">
                            <h1 class="page-title">{{ object.title }}</h1>
                            {% if object.description %}<h2 class="page-description">{{ object.description }}</h2>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block breadcrumbs %}{% include 'default/breadcrumbs.html' with obj=object %}{% endblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <article class="promo-title-wrapper helper pt60" id="post-{{ object.id }}">
                    <h3>{{ object.title }}</h3>
                    <div class="content">{{ object.html|safe }}</div>
                    <time class="small text-muted" datetime="{{ object.created }}">{{ object.created }}</time>
                </article>
            </div>

            {% if object.is_allow_comments %}
                <div class='box'>
                    {% include 'default/comment_list.html' with post=object %}<br>
                    {% include 'default/form_comment.html' with type='page' obj=object %}
                </div>
            {% endif %}
            {% if object.scripts %}{{ object.scripts|safe }}{% endif %}
        </div>
    </div>

{% endblock %}

{% block additional_js %}{% endblock %}

