{% load static %}
{% load fb_versions %}

{% if objects %}
    <div class="row">
        {% if 'home' in page %}
        <div class="col-md-12">
            <div class="promo-title-wrapper ">
                <h3 class="promo-title" data-icon="">{% if title %}{{ title }}{% endif %}{{ object.title }}</h3>
            </div>
            <div class="row">
                {% with objects=objects %}
                {% for product in objects %}
                    <div class="col-md-4 col-sm-6">
                    <!-- Price List -->
                    <div class="price-list">
                        <h3 class="price-list-title">{{ product.title }}
                            {% if product.articul %}<small>/ <a href="{{ product.get_absolute_url }}">{{ product.articul }}</a></small>{% endif %}
                        </h3>
                        {% if product.get_price %}{% include 'product/templates/product_price.html' with obj=product %}{% endif %}
                        {% if product.description %}<p class='price-list-description'>{{ product.description }}</p>{% endif %}
                        {% if product.get_price %}
                            <a rel="nofollow" class='jsAddToCart price-list-button' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true">Купить</a>
                            <div id="ajaxError"></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            {% endwith %}
            </div>
        </div>
        {% else %}
            {% with objects=objects %}
                {% for product in objects %}
                    <div class="col-md-6 col-sm-6">
                        <div class="blog-grid">
                            <div class="blog-grid-image">
                                <a href="{{ product.get_absolute_url }}">
                                    {% if product.get_main_image.image %}<img src="{% version product.get_main_image.image 'big' %}" alt="">{% endif %}
                                </a>
                            </div>
                            <h3 class="blog-grid-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                {% if product.articul %}<small>/ {{ product.articul }}</small>{% endif %}
                            </h3>
                            {% if product.get_price %}{% include 'product/templates/product_price.html' with obj=product %}{% endif %}
                                <p>
                                    {% if product.get_price_discount %}<small>%</small>/{% endif %}
                                    {% if product.is_new %}<small>NEW</small>/{% endif %}
                                    {% if product.is_bestseller %}<small>TOP</small>/{% endif %}
                                </p>
                            {% if product.get_price %}
                                <a rel="nofollow" class='jsAddToCart price-list-button' data-product-id="{{ product.get_main_item.id }}" data-is-catalog="true">Купить</a>
                                <div id="ajaxError"></div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}
        {% endif %}
    </div>



{% endif %}

