<p class="price-list-price">
    {% if obj.get_price_discount > 0 %}
    {{ obj.get_price_discount|floatformat:'2' }} р<span class="price-list-price-units">/<del><small>{{ obj.get_price|floatformat:'2' }} р</small></del></span><br>

    {% elif obj.get_price > 0  %}
        {{ obj.get_price|floatformat:'2' }} р
    {% endif %}
</p>

