{% extends 'main.html' %}
{% load fb_versions %}
{% load staticfiles %}
{% load mptt_tags %}

{% block title %}Вход в личный кабинет {{ setting_template.site.name }}{% endblock %}
{% block description %}Вход в личный кабинет {{ setting_template.site.name }}{% endblock %}
{% block keywords %}Вход в личный кабинет {{ setting_template.site.name }}{% endblock %}

{% block additional_css %}{% endblock %}

{% block main %}
<p style="height: 120px;"></p>
<div class="login-wrapper">
    {{ form.errors }}
    <h5>Вход в личный кабинет</h5>
    <form class="login-form" method="post" action="{% url 'users:login' %}">{% csrf_token %}
        <div class="login-inputs">
            <input required class="form-control" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" placeholder="Email">
            {{ form.username.errors }}
            <input required class="form-control" type="password" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" placeholder="Password">
            {{ form.username.errors }}
        </div>
        <button type="submit" name="login" class="button green full">
            <i class="fa fa-user-md"></i>Войти</button>
            <input type="hidden" name="next" value="{% url 'home:home' %}">
    </form>
    <ul class="login-helpers">
        <li class="login-helper-item">У вас нет учетной записи? <a href="{% url 'users:register' %}">Регистрация</a></li>
        <li class="login-helper-item"><a id="button-pass" href="{% url 'password_reset' %}">Забыли пароль?</a></li>
    </ul>
</div>
{% endblock %}

{% block additional_js %}{% endblock %}