{% extends 'main.html' %}

{% block title %}Регистрация{% endblock %}
{% block description %}Регистрация{% endblock %}
{% block keywords %}Регистрация{% endblock %}

{% block additional_css %}{% endblock %}

{% block main %}
<p style="height: 120px;"></p>
<div class="register-wrapper">
    <h5>Регистрация</h5>
    {{ form.errors }}
    <form class="register-form" method="post" action="{% url 'users:register' %}">{% csrf_token %}
        <div class="register-inputs">
            <input class='form-control' type="email" name="username" placeholder=":Email" required id="id_username">
            <!--<small>Обязательное поле. Не более 150 символов. Только буквы, цифры и символы@/./+/-/_.</small>-->
            <input class='form-control' type="password" name="password1" required id="id_password1" placeholder=":Пароль">
            <input class='form-control' type="password" name="password2" required id="id_password2" placeholder="Подтверждение пароля">
        </div>

        <input type="checkbox" class="register-checkbox" id="terms">
        <label for="terms">I accept the <a href="#">terms and conditions</a>.</label>

        <button type="submit" class="button green full"><i class="fa fa-user-md"></i> Создать аккаунт</button>
        <input type="hidden" name="next" value="{% url 'home:home' %}">
    </form>
    <ul class="register-helpers">
        <li class="register-helper-item">Уже есть акаунт?<a href="{% url 'users:login' %}">Войти</a></li>
    </ul>
</div>

<!--<ul class="small text-muted">-->
    <!--<li>Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком-->
        <!--похожим на неё.-->
    <!--</li>-->
    <!--<li>Ваш пароль должен содержать как минимум 8 символов.</li>-->
    <!--<li>Ваш пароль не может быть одним из широко распространённых паролей.</li>-->
    <!--<li>Ваш пароль не может состоять только из цифр.</li>-->
<!--</ul>-->
<!---->
<!--{# {% comment %}#}-->
<!--{# [-&#45;&#45; DO NOT DELETE-&#45;&#45;]#}-->
<!--{# <div class="form-group"> #}-->
    <!--{# <label for="id_phone">Телефон <span class="star">*</span></label> #}-->
    <!--{# <input type="text" name="phone" id="id_phone" class='jsPhoneInput' required> #}-->
    <!--{# </div> #}-->
<!--{# {% endcomment %}#}-->

{% endblock %}
{% block additional_js %}{% endblock %}