{% load static %}
{% load fb_versions %}

<div class="row">
{% with object_list=objects %}
    {% for obj in object_list %}

    <div class="col-md-6 col-sm-6">
        <div class="blog-grid">
            <div class="blog-grid-image">
                <a href="{% version obj.image 'max' %}">
                    <span class="blog-grid-image-over"></span>
                    <img src="{% version obj.image 'large' %}" title="{{ obj.image_title }}" alt="{{ obj.image_title }}">
                </a>
            </div>
            <h3 class="blog-grid-title"><a href="{{ post.get_absolute_url }}">{{ obj.image_title }}</a></h3>
            {% if obj.image_title %}<p class="blog-grid-excerpt">{{ obj.image_description }}</p>{% endif %}
            <div class="blog-grid-meta">
                <span class="blog-grid-date"><time datetime="{{ post.created }}">{{ post.created }}</time></span>
            </div>
        </div>
    </div>
    {% endfor %}
{% endwith %}

</div>

