{% if comments.exists %}
{% load fb_versions %}

<div class="article-widget">
    <h3 class="article-widget-title">Коментарии {{ post.comment_count }}</h3>
    <div class="comments" id="article-comments">
        <ul class="comment-list">
            {% for comment in comments %}
            <li class="comment-list-item">
                <div class="comment-content">
                    {% if comment.user and comment.user.userprofile.avatar %}
                        <div class="comment-user-photo">
                            <img src="{% version comment.user.userprofile.avatar 'thumbnail' %}" alt="">
                        </div>
                    {% endif %}
                    <div class="comment-body">
                        <div class="comment-header">
                            <div class="comment-username"><a href="#">{{ comment.username }}</a></div>
                            <ul class="comment-meta">
                                <!--<li class="comment-likes">9 likes</li>-->
                                <li class="comment-date"><time datetime="{{ comment.created|date:'Y-m-d H:i:s' }}">{{ comment.created|date:'d/m/Y' }}</time></li>
                            </ul>
                        </div>
                        <p class="comment-message">{{ comment.text|truncatewords:80 }}</p>

                        <!--<ul class="comment-actions">-->
                            <!--<li class="comment-action-item">-->
                                <!--<a class="comment-action-like" href="#">-->
                                    <!--<i class="fa fa-heart-o"></i></a>-->
                            <!--</li>-->
                            <!--<li class="comment-action-item">-->
                                <!--<a class="comment-action-reply" href="#">-->
                                    <!--<i class="fa fa-reply"></i>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    </div>
                    {% empty %}
                        <p>Коментариев нет...</p>
                {% endfor %}
                </div>
            </li>
        </ul>
    </div>
</div>

{% endif %}