{% load fb_versions %}

<footer>
    <!-- Footer Extended -->
        <div class="footer-extended">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-extended-container">
                            <div class="row">
                                {% if footer.page.exists %}
                                    <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Популярные страницы</h5>
                                        <ul class="footer-extended-menu-list">
                                            {% for p in footer.page.all %}
                                                <li>
                                                    <a href="{% url 'page:page-detail' slug=p.slug %}" title="{{ p.title }}">{{ p.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}
                                {% if footer.blogs.exists %}
                                    <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Популярные блоги</h5>
                                        <ul class="footer-extended-menu-list">
                                            {% for b in footer.blogs.all %}
                                                <li>
                                                    <a href="{{ b.get_absolute_url }}" title="{{ b.title }}" rel="nofollow">{{ b.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}

                                {% if footer.catalog.exists %}
                                    <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Популярные каталоги</h5>
                                        <ul class="footer-extended-menu-list">
                                            {% for b in footer.catalog.all %}
                                                <li>
                                                    <a href="{{ b.get_absolute_url }}" title="{{ b.title }}">{{ b.title }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}

                                {% if footer.galleries.exists %}
                                    <div class="col-md-2 col-sm-2 col-xs-4">
                                    <div class="footer-extended-menu">
                                        <h5 class="footer-extended-menu-title">Популярные галереи</h5>
                                        <ul class="footer-extended-menu-list">
                                            {% for b in footer.galleries.all %}
                                            <li>
                                                <a href="{{ b.get_absolute_url }}" title="{{ b.title }}" rel="nofollow">{{ b.title }}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                {% endif %}

                                {% if footer.get_list_link %}
                                    <div class="col-md-2 col-sm-2 col-xs-4">
                                        <div class="footer-extended-menu">
                                            <h5 class="footer-extended-menu-title">Быстрые ссылкии</h5>
                                            <ul class="footer-extended-menu-list">
                                                {% for ll in footer.get_list_link %}
                                                <li>
                                                    <a class='{{ ll.type_link }}_link' href="{{ ll.url }}" title="{{ ll.title }}"{% if 'T' in ll.type_link %} target="_blank" {% endif %}>{{ ll.title }}</a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}

                                <!--<div class="clearfix visible-xs-block"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Footer Extended -->


        <!-- Footer Default -->
        <div class="footer">

            <!--<div class="col-md-4 col-sm-4 col-xs-8">-->
                <!--<div class="footer-extended-menu">-->
                    <!--<h5 >Subscribe</h5>-->
                    <!--<div class="subscribe-form-block-footer">-->
                        <!--<form action="http://themes.vsart.me/vsdocs/index.html#">-->
                            <!--<input type="text" name="email" id="subscribe-email-footer"-->
                                   <!--class="subscribe-input-footer" placeholder="Email address">-->
                            <!--<button class="subscribe-button-footer">-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</button>-->
                        <!--</form>-->
                    <!--</div>-->
                    <!--<p class="text-footer">По всем вопросам пишите нам:-->
                        <!--<a href="mailto:{{ setting_template.email }}" target="_top">{{ setting_template.email }}</a>-->
                    <!--</p>-->
                <!--</div>-->
            <!--</div>-->

            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="footer-logo-wrapper">
                            <a href="/" class="logo-image">
                                {% if setting_template.logo %}
                                    <img src="{% version setting_template.logo 'small' %}" alt="{{ setting_template.site.name }}" title="{{ setting_template.title }}">
                                    <span class="sr-only">{{ setting_template.site.name }}</span>
                                {% else %}
                                    <h2>{{ setting_template.site.name }}</h2>
                                    <small>{{ setting_template.title }}</small>
                                {% endif %}
                            </a>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="footer-wrapper">
                            {% if footer.text_info %}
                            <div class="col-md-4 col-sm-4 col-xs-8">
                                <h5 class="footer-extended-menu-title">{{ footer.text_info.title }}</h5>
                                {{ footer.text_info.html|safe }}
                            </div>
                            {% endif %}
                            {% include 'site_info/templates/social_networs.html' with type='html_link' %}
                            <p class="copyright helper right">
                                <a href="/">{{ setting_template.site.name }}<span>© {% now 'Y' %} Все права защищены.</span></a><br>
                                <small class="pull-right"><a href="/">© [pYAp] ``Создан на движке``</a></small>
                            </p>
                            <div id="toTop"><span class="scroll-top js-scroll-top"><i class="fa fa-angle-up"></i></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Footer Default -->

</footer>



