<div id="comment-form">
    <h3 class="article-widget-title">Оставтье свой комментарий</h3>
    {% if 'page' in type %}
    <form method="post" action="{% url 'page:page_comment' object.id %}" class="comment-form">{% csrf_token %}
    {% elif 'post' in type %}
    <form method="post" action="" class="comment-form">{% csrf_token %}
    {% else %}
    <form method="post" action="{% url 'product:product_comment' product_id=product.id %}" class="comment-form">{% csrf_token %}
    {% endif %}
        <div class="col-md-12">
            <div class='alert-danger'>{{ comment_form.errors }}</div>
            <div class='comment-form-list'>{{ comment_form.as_p }}</div>
            <div class="comment-form-list-item"><button type="submit">OK</button></div>
        </div>
    </form>
</div>
