{% if messages %}
    {% for message in messages %}
    <div class="notification js-notification background-4">
        <div class="js-close notification-close"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="notification-title">Оповещение!</h5>
                    <p class="notification-description">{{ message }}</p>
                    <div class="notification-buttons">
                        <a href="/" class="button js-close green">Ok!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
{% include 'menu/templates/mainmenu.html' %}
