{% load mptt_tags %}


<div class="col-md-3 hidden-sm hidden-xs">
    <div class="js-sidebar-wrapper">
        <div class="sidebar js-sidebar-fixed">
        <!-- Vertical Menu -->
            <nav class="menu-vertical-wrapper">
                <ul class="menu-vertical js-menu-vertical tendina" data-prepend-to=".js-layout" data-select="Menu">
                    {% if leftbar.obj_list %}
                        {% recursetree leftbar.obj_list %}
                        <li class='{% if not node.is_leaf_node %}has-children has-sub parent {% endif %}{% if leftbar.obj.title == node.title %}selected{% endif %}'>
                            <a href="{{ node.get_absolute_url }}">{{ node.title }}</a>
                            {% if not node.is_leaf_node %}
                            <ul class="children{{ node.is_child_node }}">{{ children }}</ul>
                            {% endif %}
                        </li>
                        {% endrecursetree %}
                    {% endif %}
                </ul>
            </nav>

            {% include 'catalog/templates/catalog_sort_row.html' %}

            {% include 'search/search_form.html' %}

            <!--<div class="widget">-->
                <!--<h3 class="widget-title">Recommended products</h3>-->
                <!--<ul class="widget-recommended-products">-->
                    <!--<li class="widget-recommended-product">-->
                        <!--<img src="img/demos/thumbnails/1.png" class="widget-recommended-product-img" alt="Recommended products">-->
                        <!--<a href="#" class="widget-recommended-product-link">-->
                            <!--<h5 class="widget-recommended-product-link-title">-->
                                <!--VSResume-->
                                <!--<i class="fa fa-angle-right"></i>-->
                            <!--</h5>-->
                            <!--<p class="widget-recommended-product-link-description">Online CV / Resume Template</p>-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
            {% if object.tags.exists %}
                <div class="widget">
                    <h3 class="widget-title">Тэги</h3>
                    <ul class="tags">
                        {% for tag in object.tags.iterator %}
                        <li class="tag-item">
                            <a href="?tag={{ tag.id }}" class="{% if request.GET.tag == tag.id|lower %} selected{% endif %}">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>


