<div class="article-navigation">
    {% if next_prev.prev %}
        <a class="article-navigation-prev" href="{{ next_prev.prev.get_absolute_url }}">{{ next_prev.prev.title|truncatechars:30 }}</a>
    {% endif %}
    {% if next_prev.next %}
        <a class="article-navigation-next" href="{{ next_prev.next.get_absolute_url }}">{{ next_prev.next.title|truncatechars:30 }}</a>
    {% endif %}
</div>
