<div class="widget">
    <h3 class="widget-title">Сортировка: <span>{% if 'per_page' in request.GET %}{{ request.GET.per_page }}{% else %}12{% endif %} / {{ objects|length }}</span></h3>
    <form>
        <p class="products-number">
            <span>на странице:</span>
            <a href="?per_page=12" class="btn btn-default btn-sm {% if request.GET.per_page in '12' %}btn-primary{% endif %}">12</a> |
            <a href="?per_page=18" class="btn btn-default btn-sm {% if request.GET.per_page in '18' %}btn-primary{% endif %}">18</a> |
            <a href="?per_page=24" class="btn btn-default btn-sm {% if request.GET.per_page in '24' %}btn-primary{% endif %}">24</a> |
            <a href="?per_page=96" class="btn btn-default btn-sm {% if request.GET.per_page in '96' %}btn-primary{% endif %}">96</a>
        </p>
        {% if 'gallery' != type %}
            <p class="products-sort-by">
                <span>сортировка:</span>
                <a {% if request.GET.price %} class="text-info"{% endif %} href="?price=-price">Цене</a> |
                <a {% if request.GET.is_new %} class="active"{% endif %}><a href="?is_new=-is_new">Новинки</a>
            </p>
        {% endif %}
    </form>
</div>
