{% extends 'main.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% load fb_versions %}

{% block title %}{{ object.seo_title }}{% endblock %}
{% block description %}{{ object.seo_description }}{% endblock %}
{% block keywords %}{{ object.seo_keywords }}{% endblock %}

{% block additional_css %}{% endblock %}

{% block main %}
<!-- Header Back -->
<div class="header-back header-back-simple header-back-small"
     style="{% if object.get_main_image.image %}background-image: url({% version object.get_main_image.image 'max' %}){% endif %}">
    <div class="header-back-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-info page-info-simple">
                        <h1 class="page-title">{{ object.title }}</h1>
                        {% if object.description %}<h2 class="page-description">{{ object.description }}</h2>{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Header Back -->
{% block breadcrumbs %}
    {% include 'default/breadcrumbs.html' with tree=object.get_ancestors obj=object %}
{% endblock %}
<div id="content">
    <div class='container'>
        <div class="layout with-right-sidebar js-layout">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-content">
                        <!-- Blog Page -->
                        {% if objects %}
                        <div class="blog">{% include 'catalog/templates/catalog_product_list.html' %}</div>
                        {% endif %}
                    </div>
                </div>
                {% block leftbar %}{% include 'default/leftbar.html' %}{% endblock %}
            </div>
        </div>
        {% if object.html %}<div>{{ object.html|safe }}</div>{% endif %}
        {% include 'catalog/templates/catalog_child_list.html' %}
    </div>
</div>







{% endblock %}
