{# Slider #}
{% load static %}
{% load fb_versions %}

{% if slider_home %}
    {% with slider=slider_home  %}
        {% for sh in slider %}
        <div class="header-back header-back-default header-back-full-page js-full-page"
             style="height: 810px; {% if sh.image %}background-image: url({% version sh.image 'max' %}){% endif %}" >
            <div class="header-back-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Page Info -->
                            <div class="page-info helper center">
                                <h1 class="page-title">
                                    {% if sh.url %}<a target="_blank" href="{{ sh.url }}">{{ sh.title }}</a>
                                    {% else %}{{ sh.title }}{% endif %}
                                </h1>
                                {% if sh.description %}<p class="page-description">{{ sh.description }}</p>{% endif %}
                            </div>
                            <!-- End Page Info -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endwith %}
{% endif %}
