{% load static %}
{% load fb_versions %}


{% comment %}
{{ area.html_code|safe }}
{% for area in include_areas %}
{% endcomment %}

{% if include_areas.exists %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Promo Title -->
                <div class="promo-title-wrapper ">
                    <h3 class="promo-title" data-icon="">
                        Use something you like
                    </h3>
                    <p class="promo-description">
                        Voluptates repellendus, harum deleniti fuga quod aut! Fugiat laborum repellat sed reprehenderit
                        illum quasi cumque ipsam sint eveniet? Quaerat deleniti, distinctio inventore.
                    </p>
                </div>
                <!-- End of Promo Title -->

                <!-- Featured Boxes -->
                <ul class="featured-boxes">
                    {% for area in include_areas %}
                        {% if area.code in 'advantages' %}
                            <li class="featured-boxes-item">
                                {% if area.image %}
                                    <img class="featured-boxes-item-ico" src="{% version area.image 'medium' %}" alt="featured-boxes image">
                                {% endif %}
                                <h4 class="featured-boxes-item-title">{{ area.title }}</h4>
                                <p class="featured-boxes-item-description">{{ area.description|safe }}</p>
                                <a href="" class="featured-boxes-item-button button blue stroke rounded">
                                    Learn more
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>






{% endif %}