{% load fb_versions %}

<div class="row">
    {% for post in objects %}
        <div class="col-md-6 col-sm-6">
            {% if 'home' in page %}
                 <div class="box box-small-icon-alt">
                     <i class="pe-7s-plugin box-icon"></i>
                     <h4 class="box-title">{{ post.title }}</h4>
                     <p class="box-description">{{ post.description }}</p>
                     <p><a href="{{ post.get_absolute_url }}" class="reguest-demo-button button blue stroke rounded button-icon button-icon-right">Подробнее</a></p>
                </div>
            {% else %}
                <div class="blog-grid">
                    <div class="blog-grid-image">
                        <a href="{{ post.get_absolute_url }}">
                            <span class="blog-grid-image-over"></span>
                            {% if post.get_main_image.image %}<img src="{% version post.get_main_image.image 'big' %}" alt="">{% endif %}
                        </a>
                    </div>
                    <h3 class="blog-grid-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    <p class="blog-grid-excerpt">{{ post.description }}</p>
                    <div class="blog-grid-meta">
                        <span class="blog-grid-date"><time datetime="{{ post.created }}">{{ post.created }}</time></span>
                    </div>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <p class="lead"> : ( Не найдено.</p>
    {% endfor %}
</div>
