{% extends 'main.html' %}
{% load staticfiles %}
{% load url_handler %}

{% load fb_versions %}

{% block title %}{{ post.seo_title }}{% endblock %}
{% block description %}{{ post.seo_description }}{% endblock %}
{% block keywords %}{{ post.seo_keywords }}{% endblock %}

{% block main %}
<p style="height:80px;"></p>
<div id="content">
    {% block breadcrumbs %}{% include 'default/breadcrumbs.html' with tree=post.blog.get_family obj=post %}{% endblock %}
    <div class="container">
        <div class="layout with-right-sidebar js-layout">
            <div class="row">
                <div class="col-md-9">
                    <div class="main-content">
                        <!-- Article -->
                        <article class="article">
                            <h2 class="article-title">{{ post.title }}</h2>

                            <ul class="article-meta">
                                <li>
                                    <span class="article-meta-date article-meta-item">
                                        <time class="small pull-right text-muted" datetime="{{ post.created }}">{{ post.created|date:'d/m/Y' }}</time>
                                    </span>
                                </li>
                                {% if post.author %}<li><span class="article-meta-author article-meta-item"><a href="#">{{ post.author.get_short_name }}</a></span></li>{% endif %}
                                <li>
                                    <span class="article-meta-category article-meta-item"><a href="blog-grid.html">{{ post.blog }}</a></span>
                                </li>
                                <!--<li><span class="article-meta-views article-meta-item">966</span></li>-->
                                <!--<li><span class="article-meta-likes article-meta-item">15</span></li>-->
                                <li>
                                    <span class="article-meta-comments article-meta-item">
                                        <a href="#" class="js-scroll-to" data-target="#article-comments" data-speed="600">{{ post.comment_count }}</a>
                                    </span>
                                </li>
                            </ul>
                            <!-- End of Article Meta -->

                            <!-- Article Featured Image -->
                            {% for img in post.get_images %}
                            <img src="{% version img.image 'large' %}" alt="{{ img.title }}" title="{{ img.image_title }}" class="article-featured-image">
                            {% endfor %}

                            <!-- End of Article Featured Image -->

                            <!-- Article Content -->
                            <div class="article-content">
                                {{ post.html|safe }}

                                <!-- Article Tags -->
                                <!--<div class="article-tags">-->
                                    <!--Tags:-->
                                    <!--<a class="article-tag" href="#">apple</a>-->
                                    <!--<a class="article-tag" href="#">startup</a>-->
                                    <!--<a class="article-tag" href="#">design</a>-->
                                    <!--<a class="article-tag" href="#">gadget</a>-->
                                    <!--<a class="article-tag" href="#">productivity</a>-->
                                <!--</div>-->
                                <!-- End of Article Tags -->
                            </div>
                            <!-- End of Article Content -->

                            <!-- Article Navigation -->
                            {% include 'default/next_prev.html' with type='post' %}


                            <!-- End of Article Navigation -->

                            <!-- Article Widget Comments -->
                            {% if post.is_allow_comments %}
                                {% include 'default/comment_list.html' %}
                                {% include 'default/form_comment.html' with type='post' %}
                            {% endif %}

                            <!-- End of Article Widget Comments -->

                        </article>
                        <!-- End of Article -->
                    </div>
                </div>
                {% block leftbar %}{% include 'default/leftbar.html' %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}