{% load static %}
{% load mptt_tags %}
{% load url_handler %}
{% load fb_versions %}


    <!-- Header -->
    <div class="header header-over">

        {% include 'menu/templates/topmenu.html' %}

        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-5">
                    {# -- logo -- #}
                    <a href="/" class="logo-image logo-animated">
                        {% if setting_template.logo %}
                            <img src="{% version setting_template.logo 'small' %}" alt="{{ setting_template.site.name }}" title="{{ setting_template.title }}">
                            <span class="sr-only">{{ setting_template.site.name }}</span>
                        {% else %}
                            <h2>{{ setting_template.site.name }}</h2>
                            <small>{{ setting_template.title }}</small>
                        {% endif %}
                    </a>
                </div>

                <div class="col-md-9 col-sm-6 col-xs-7">
                    <!-- Menu -->
                    <nav class="right helper">
                        <ul class="menu sf-menu js-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
                            {% recursetree mainmenu %}
                                <li class='{% if not node.is_leaf_node %}sf-with-ul menu-item-has-children{% endif %}'>
                                    <a href="{% if node %}{{ node|url_handler:'mainmenu' }}{% else %}/{% endif %}">{{ node.name }}
                                    {% if current_url == node.get_url and current_url != '/' %}<span class="menu-label">I</span>{% endif %}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="children sub-menu">{{ children }}</ul>
                                    {% endif %}
                                </li>
                            {% endrecursetree %}

                        </ul>
                    </nav>
                    <!-- End of Menu -->
                </div>

            </div>
        </div>
    </div>
    <!-- End of Header -->
