<div id="top">
    <div class="container">
        <div class="col-md-12">
            <ul class="menu pull-left">
                {% if setting_template.phone %}
                    <li><a href="tel:{{ setting_template.phone }}">{{ setting_template.phone }}</a></li>
                {% endif %}
                {% if setting_template.email %}
                    <li><a href="email:{{ setting_template.email }}">{{ setting_template.email }}</a></li>
                {% endif %}
            </ul>
            <ul class="menu pull-right">
                <li>
                    {% if user.is_authenticated %}<a href="{% url 'users:profile' %}">Аккаунт</a>
                    {% else %}<a href="{% url 'users:login' %}">Войти</a>{% endif %}
                </li>
                <li>
                    {% if user.is_authenticated %}<a href="{% url 'users:logout' %}">Выход</a>
                    {% else %}<a href="{% url 'users:register' %}">Регистрация</a>{% endif %}
                </li>
                {% with total_qty=cart|length %}
                    {% if total_qty %}
                        <li>
                            <a href="{% url "cart:cart-detail" %}">
                                <span class="count jsTotalCartQty">{{ total_qty }}</span>шт/<small>{{ cart.get_total_price|floatformat:'2' }}</small>
                            </a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>

</div>



